
@{
    ViewBag.Title = "Aminities";
    Layout = "~/Views/Layout/RoomLayout.cshtml";
}

@section TieuDe{
    <h2>Accomodation</h2>
    <h1>Our Amenities</h1>
}

@*Noi Dung*@
<div id="colorlib-amenities">
    <div class="container">
        <div class="row">
            <div class="amenities-flex">
                <div class="amenities-img animate-box" style="background-image: url('/images/amenities-1.jpg');"></div>
                <div class="desc animate-box">
                    <h2><a href="#">Parking Lot</a></h2>
                    <p class="price">
                        <span class="free">Free</span>
                    </p>
                    <p>Bãi giữ xe thông minh rộng rã tiện nghi. Hệ thống giữ xe thông minh sử dụng những tính năng công nghệ vượt trội đem đến hiệu quả ấn tượng về an ninh cũng như phương diện kinh tế. Bãi xe thông minh gồm nhiều bộ phận được tích hợp với nhau, mỗi bộ phận với vai trò riêng sẽ kết hợp để hệ thống vận hành linh hoạt, dễ dàng và thuận tiện.</p>
                </div>
                <div class="desc animate-box">
                    <h2><a href="#">Room Service </a></h2>
                    <p class="price">
                        <span class="free">Free</span>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptates eius, nam laudantium, quasi laborum cumque asperiores totam est perferendis itaque id esse quidem recusandae sequi aut? Ratione, enim, consequatur!</p>
                </div>
                <div class="amenities-img animate-box" style="background-image: url('/images/room-5.jpg');"></div>
                <div class="amenities-img animate-box" style="background-image: url('/images/amenities-2.jpg');"></div>
                <div class="desc animate-box">
                    <h2><a href="#">SPA &amp; Beauty Centre</a></h2>
                    <p class="price">
                        <span class="currency">$</span>
                        <span class="price-room">59</span>
                        <span class="per">/ per person</span>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptates eius, nam laudantium, quasi laborum cumque asperiores totam est perferendis itaque id esse quidem recusandae sequi aut? Ratione, enim, consequatur!</p>
                </div>
                <div class="desc animate-box">
                    <h2><a href="#">Conference Hall for Business Events</a></h2>
                    <p class="price">
                        <span class="currency">$</span>
                        <span class="price-room">359</span>
                        <span class="per">/ per night / room</span>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptates eius, nam laudantium, quasi laborum cumque asperiores totam est perferendis itaque id esse quidem recusandae sequi aut? Ratione, enim, consequatur!</p>
                </div>
                <div class="amenities-img animate-box" style="background-image: url('/images/amenities-3.jpg');"></div>
            </div>
        </div>
    </div>
</div>



