
@{
    ViewBag.Title = "Aminities";
    Layout = "~/Views/Layout/RoomLayout.cshtml";
}

@section TieuDe{
    <h2>Accomodation</h2>
    <h1>Our Amenities</h1>
}

@*Noi Dung*@
<div id="colorlib-amenities">
    <div class="container">
        <div class="row">
            <div class="amenities-flex">
                <div class="amenities-img animate-box" style="background-image: url('/images/amenities-1.jpg');">
                    <a href="~/images/amenities-1.jpg" class="room image-popup-link"></a>
                </div>
                <div class="desc animate-box">
                    <h2 style="color:#4586ff">Parking Lot</h2>
                    <p class="price">
                        <span class="free" style="color:#F96D00 ">Free</span>
                    </p>
                    <p>Bãi giữ xe thông minh rộng rã tiện nghi. Hệ thống giữ xe thông minh sử dụng những tính năng công nghệ vượt trội đem đến hiệu quả ấn tượng về an ninh cũng như phương diện kinh tế. Bãi xe thông minh gồm nhiều bộ phận được tích hợp với nhau, mỗi bộ phận với vai trò riêng sẽ kết hợp để hệ thống vận hành linh hoạt, dễ dàng và thuận tiện.</p>
                </div>
                <div class="desc animate-box">
                    <h2 style="color:#4586ff">Room Service</h2>
                    <p class="price">
                        <span class="free" style="color:#F96D00 ">Free</span>
                    </p>
                    <p>Mỗi phòng đều được bài trí theo phong cách riêng để mang đến cho khách hàng những phút giây nghỉ ngơi đáng nhớ. Wifi tốc độ cao miễn phí tại sảnh và phòng không giới hạn sẽ giúp bạn kết nối với gia đình và bạn bè bất cứ lúc nào. Dịch vụ phòng 24/24 sẵn sàn lắng nghe và giải đáp mọi thắc mắt từ phía khách hàng, dịch vụ dọn dẹp phòng. </p>
                </div>
                <div class="amenities-img animate-box" style="background-image: url('/images/room-5.jpg');">
                    <a href="~/images/room-5.jpg" class="room image-popup-link"></a>
                </div>
                <div class="amenities-img animate-box" style="background-image: url('/images/amenities-2.jpg');">
                    <a href="~/images/amenities-2.jpg" class="room image-popup-link"></a>
                </div>
                <div class="desc animate-box">
                    <h2 style="color:#4586ff">Swimming Pool</h2>
                    <p class="price">
                        <span class="free" style="color:#F96D00 ">Free</span>
                    </p>
                    <p>Hãy dành thời gian thả mình thư giãn trên những chiếc ghế dưới bóng mát của những chiếc dù. Các bé sẽ có những phút giây đầy sảng khoái chơi đùa với nước tại bể bơi dành cho trẻ em, nằm ngay cạnh bể chính. Với không gian thoáng đãng mát mẻ chúng tôi chắc chắn sẽ đem đến những phúc giây thư giãn tuyệt vời cho quý khách.</p>
                </div>
                <div class="desc animate-box">
                    <h2 style="color:#4586ff">Restaurant</h2>
                    <p class="price">
                        <span class="free" style="color:#F96D00 ">Service</span>
                    </p>
                    <p>Nhà hàng có không gian thư giãn với thực đơn buffet và gọi món, phục vụ món ăn Việt Nam và quốc tế đặc sắc. Khách hàng sẽ được tận hưởng các món tự chọn đa dạng với hải sản tươi sống, bánh mì và quầy tráng miệng hấp dẫn. Quý khách có thể thưởng thức các món ăn nhẹ, đồ uống như cocktail, rượu hay một tách trà nóng. Thêm nhiều tiện ích khác như sử dụng Wifi miễn phí hay máy tính, máy in giúp quý khách dễ dàng làm việc, giải trí và thư giãn trong không gian ấm cúng của khu vực sảnh.</p>
                </div>
                <div class="amenities-img animate-box" style="background-image: url('/images/amenities-4.jpg');">
                    <a href="~/images/amenities-4.jpg" class="room image-popup-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>



