
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout/RoomLayout.cshtml";
}

@section TieuDe{
    <h2>Information</h2>
    <h1>About Us</h1>
}
<div id="colorlib-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about animate-box">
                    <h2>Welcome to our Hotel</h2>
                    <p>Khách sạn tọa lạc tại giao điểm của bốn quận chính, nơi được xem như trái tim và trung tâm của TP. Hồ Chí Minh. Quý khách chỉ mất 35 phút lái xe từ khách sạn tới sân bay Tân Sơn Nhất, 8 phút để tới khu trung tâm thương mại và giải trí của thành phố. Với 35 phòng tiêu chuẩn và phòng hạng sang thiết kế đẹp mắt và trang nhã được chú trọng tới từng chi tiết sẽ đem lại sự tiện nghi và thoải mái tối đa cho quý khách dù là thời gian nghỉ ngơi thư giãn hay trong chuyến công tác. Khách sạn cũng có các tầng không hút thuốc riêng biệt với các địa điểm phục vụ nhu cầu ẩm thực của quý khách, đặc biệt là Nhà hàng Hải sản Nhà hàng Buffet và quầy thức uống. Ngoài ra, khách sạn còn có một trung tâm thể thao đẳng cấp thế giới với hồ bơi ngoài trời...</p>
                    <p>Khách sạn với cơ sở vật chất và dịch vụ đẳng cấp thế giới là sự lựa chọn lý tưởng cho quý khách trong những chuyến công tác và kỳ nghỉ khi ghé thăm thành phố sôi động và nhộn nhịp nhất Việt Nam này.</p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="~/images/img_bg_5.jpg" alt="Free HTML5 Bootstrap Template by colorlib.com">
            </div>
        </div>
    </div>
</div>
